<div class="container">
  <div class="row">
    <div class="full-width">
      <h3>about us</h3>
      <hr />
      <div class="about">
        <div class="about-header">why rolling soul</div>
        <p class="about-body">Join us as we honor a few of the traditions of the soul food kitchen. Get Soul Food on the Go!</p>
      </div>
      <div class="about">
        <div class="about-header">what makes us different</div>
        <p class="about-body">Legacy of friendliness, cleanliness, and great quality food. Excellent customer service is our goal.</p>
      </div>
      <div class="about">
        <div class="about-header">Thank you for your business</div>
        <p class="about-body">We appreciate the opportunity to serve you today.
          Follow our truck as we travel across the Triangle area.</p>
      </div>
    </div>
  </div>
</div>
