<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand justify-content-start" href="#">
      <h4 class="pt-2">
        <em>
          where <strong>soul food</strong> meets the <strong>soul</strong>
        </em>
      </h4>
    </a>

    <!-- <div class="justify-content-end"> -->

    <!-- ngIf is a structural directive indicated by asterisk, which directly change the DOM -->
    <!-- <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul> -->

    <!-- *ngIf="loggedIn()" only show if user logged in -->
    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle (click)="(false)">
        Welcome {{ uniqueName | titlecase }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/account']">
          <i class="fa fa-user"></i>
           My Account
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </div>
    </div>

    <!-- angular template reference variable -->
    <!-- forms supports 2way binding from template to component using ngModel directive -->
   
      <form 
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="login()"
      >
        <input
          class="form-control mr-sm-2"
          type="text"
          name="username"
          placeholder="Username"
          required
          [(ngModel)]="model.username"
          #username="ngModel"
          autocomplete="username"
        />
  
        <input
          class="form-control mr-sm-2"
          type="password"
          name="password"
          placeholder="Password"
          required
          [(ngModel)]="model.password"
          #password="ngModel"
          autocomplete="current-password"
        />
  
        <!-- removed from button below [disabled]="!loginForm.valid" -->
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>

  </div>
</nav>

<!-- <pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}

  Username Valid: {{username.valid}}
  Username Touched: {{username.touched}}
  Username Dirty: {{username.dirty}}
  Username Value: {{username.value}}

  Password Valid: {{password.valid}}
  Password Touched: {{password.touched}}
  Password Dirty: {{password.dirty}}
  Password Value: {{password.value}}
</pre> -->
