<div class="container">
  <div *ngIf="meals" class="row">
    <div class="full-width">
      <div class="col">
        <div class="item-header-row row">
          <h3>{{ meals.name }}</h3>
          <img
            *ngIf="loggedIn()"
            [routerLink]="['/cart']"
            class="img-cart"
            src="../../assets/img/cart.png"
            alt="view cart"
          />
        </div>
      </div>
      <hr />
      <div class="menu-container">
        <div class="item" *ngFor="let item of meals.items">
          <div class="col">
            <div class="item-header-row row">
              <div class="item-header">{{ item.name }} | ${{ item.price }}</div>
              <app-addtocartbutton
                [foodTruckId]="foodTruckId"
                [item]="item"
              ></app-addtocartbutton>
            </div>
            <div class="item-body-row row">
              <div
                class="item-body-text"
                [ngClass]="{
                  'item-body': loggedIn(),
                  'item-body-logged-out': !loggedIn()
                }"
              >
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
