<h2>find the truck</h2>
<hr />
<div class="truck-container text-left">
  <h4>RTP, NC</h4>
  <h6>Saturday, August 8</h6>
  <h5>11:00AM - 2:00PM</h5>
  <br />
  <h5>RTI INTERNATIONAL</h5>
  <P>PARKING LOT A</P>
  <p class="lead">
    3040 E Cornwallis Rd<br />
    Durham, NC 27709
  </p>

</div>
<div>
    <hr />
  <!-- (click)="registerClick()" -->
  <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination=3040+E+Cornwallis+Rd+Durham+NC+27709" class="btn btn-primary btn-lg text-center">
    Directions
  </a>
</div>