<div class="container">
  <div *ngIf="user" class="row">
    <div class="full-width">
      <div class="col">
        <div class="item-header-row row">
          <h3>user profile: {{ user.username }}</h3>
          <button
            class="btn btn-primary btn-md"
            type="submit"
          >
            Edit 
          </button>
        </div>
      </div>
      <hr />
      <div class="menu-container">
        <form #userForm="ngForm" (ngSubmit)="saveUser()">
          <label for="name">User Name:</label>
          <h4>{{ user.username }}</h4>

          <label for="name">Name</label>
          <h4>{{ user.name }}</h4>
          <!-- <input id="name" type="text"
          name="name" [(ngModel)]="model.name"
          #name="ngModel" value="{{ user.name }}"/>
          <div *ngIf="name.touched && name.hasError('required')">Required</div> -->

          <div class="">
            <label for="email">Email:</label>
            <h4>{{ user.email }}</h4>
            <!-- <input id="email" type="text"
            name="email" [(ngModel)]="model.email"
            #email="ngModel" value="{{ user.email }}"/>
            <div *ngIf="email.touched && email.hasError('email')">Invalid</div> -->
          </div>

          <label for="phoneNumber">Phone</label>
          <h4>{{ user.phoneNumber }}</h4>
          <!-- <input id="phoneNumber" type="text"
          name="phoneNumber" [(ngModel)]="model.phoneNumber"
          #profile="ngModel" value="{{ user.phoneNumber }}"/>
          <div *ngIf="profile.touched && profile.hasError('required')">Invalid</div> -->
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
