<div class="pageTitle">
  <h3>soul food on the go</h3>
</div>
<hr class="separator" />
<div class="callout">
  <h5>Summer Specials</h5>

  <div class="item">
    <div class="col">
      <br />
      INTRODUCING OUR EXCLUSIVE "SUMMER'S BREEZE"<br /> 
      <span class="bold">STRAWBERRY LEMONADE</span> MADE WITH REAL HAND JUICED FRESH STRAWBERRIES AND LEMONS.
      <p class="text-right price">$3 (16OZ)</p>
    </div>
  </div>

  <div class="item">
    <div class="col">
      <br />
      <span class="bold">ITALIAN ICEES</span> ARE BACK!<br />
      PINA COLADA. BLUE RASPBERRY. STRAWBERRY.
      <p class="text-right price">$2.50 PER CUP</p>
    </div>
  </div>
</div>
