<div class="pageTitle">
  <h3>soul food on the go</h3>
</div>
<hr class="separator" />
<div class="callout">
  <h5>Summer Specials</h5>
  <p>
    INTRODUCING OUR EXCLUSIVE "SUMMER'S BREEZE" STRAWBERRY LEMONADE MADE
    WITH REAL HAND JUICED FRESH STRAWBERRIES AND LEMONS.
  </p>
  <p class="text-right" style="text-align: right;">$3 (16OZ)</p>

  <p>
    ITALIAN ICEES ARE BACK!<br />
    PINA COLADA. BLUE RASPBERRY. STRAWBERRY.
  </p>
  <p class="text-right" style="text-align: right;">$2.50 PER CUP</p>
</div>
