<div class="container home">
  <div class="row justify-content-between">
    <div class="col-7 mb-3">
      <img
        src="../assets/img/Rolling_Soul_Wavy_Transparent.png"
        alt="Rolling Soul"
        class="rs-logo"
      />
    </div>
    <div *ngIf="!loggedIn()" class="col-4">
      <div class="footnote text-center mt-3">
        PRESSED FOR TIME?<br /> 
        <a href="#">LOGIN</a>
        <!-- <span class="text-primary">LOGIN</span>  -->
        TO PLACE YOUR ORDER. <br />
        NEED AN ACCOUNT? <a class="text-primary cursor" (click)="registerToggle()">REGISTER HERE</a>.
      </div>
    </div>    
  </div>

  <div class="row justify-content-between row-wrapper">
    <div class="col bg-primary placemat mr-5">
      <div class="container bg-light placemat-inner">
        <app-specials (registerToggle)="registerToggle()"></app-specials>
      </div>
    </div>
  
    <div class="col-4 bg-light panel">
      <div *ngIf="!registerMode" class="text-center">
        <app-truck (registerToggle)="registerToggle()"></app-truck>
      </div>
  
      <div *ngIf="registerMode && !loggedIn()" class="text-center">
            <!-- pass values as INPUT prop (valuesFromHome) to child component app-register -->
            <!-- the (cancelRegister) event receives the $event from the child register component when the cancel button is clicked on the child register component's form and passes it to the cancelRegisterMode funct -->
        <app-register (cancelRegister)="cancelRegisterMode($event)">
        </app-register>
      </div>
    </div>
  </div>
</div>