.home {
  /* margin: 0; */
  padding: 0;
}
.row-wrapper {
  min-height: 500px; 
}

.placemat-inner,
.placemat,
.panel {
  padding: 30px;
  border-radius: 25px;
  max-height: 570px;
}


.panel {
  opacity: 0.8;
}

.placemat-inner {
  padding: 20px 30px;
  height: 100%;
}

.placemat-inner,
.placemat {
  opacity: 0.95;
}

.div-rs-logo {
  width: 150px;
}

.rs-logo {
  padding-left: 5%;
  width: 100%;
}